:root {
  /** primary **/
  --ion-color-primary: #000080;
  --ion-color-primary-rgb: 0,0,128;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #000071;
  --ion-color-primary-tint: #1a1a8d;
}
